{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "your-project-id",
          "appId": "1:YOUR_NUMBER:android:YOUR_APP_ID",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "ios": {
        "default": {
          "projectId": "your-project-id",
          "appId": "1:YOUR_NUMBER:ios:YOUR_APP_ID",
          "uploadDebugSymbols": false,
          "fileOutput": "ios/Runner/GoogleService-Info.plist"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "your-project-id",
          "configurations": {
            "android": "1:YOUR_NUMBER:android:YOUR_APP_ID",
            "ios": "1:YOUR_NUMBER:ios:YOUR_APP_ID"
          }
        }
      }
    }
  },
  "storage": {
    "rules": "storage.rules"
  }
}